.toast {
    width: 100%;
    padding: 100px;
    position: absolute;
    background: rgb(142, 204, 245);
    color: rgb(0, 0, 0);
    font-size: 200%;
    text-align: center;
    left: 0;
    top: 0;
    right: 0;
    transform: translateY(-100px);
    animation: slideDown 3s;
    z-index: 500;
  }